<a href="https://colab.research.google.com/github/LuanCiribelli/seguranca_dcc075_2022/blob/main/cifraCesar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Atividade 03/10/2022 - Luan Reis Ciribelli - 201765144B

In [ ]:
from collections import Counter
import matplotlib.pyplot as plt
import numpy as np
import unicodedata
import pandas as pd

Função que encripta usando a cifra de cesar, recebe uma string e a chavr

In [ ]:
def encripta(string,chave):
    encriptada = ""
    for i in range(len(string)):
        char = string[i].upper()
        encriptada += chr((ord(char) + chave-65) % 26 + 65)
    return encriptada

In [ ]:
def limpaTexto(string):
  s = ''
  for i in range(len(string)):
      if(i != " "):
        char = string[i].upper()
        s += char 
  return ''.join(c for c in unicodedata.normalize('NFD', s)
                  if unicodedata.category(c) != 'Mn')

Recebe os parametros e executa a cifragem

In [ ]:
text = input('Coloque o texto:', )
s = int(input('Coloque a chave:', ))

textoLimpo = limpaTexto(text)

cifra = encripta(textoLimpo,s)

print ("Text  : " + text)
print ("mudança : " + str(s))
print ("cifra: " + cifra)

Coloque o texto:Eu sou o Luan Reis e esse é o meu trabalho de segurança de software
Coloque a chave:4
Text  : Eu sou o Luan Reis e esse é o meu trabalho de segurança de software
mudança : 4
cifra: IYXWSYXSXPYERXVIMWXIXIWWIXIXSXQIYXXVEFEPLSXHIXWIKYVERGEXHIXWSJXAEVI

### Analise da frequência

In [ ]:
freq_caracter = Counter(cifra)
freq_caracter_text = Counter(textoLimpo)

In [ ]:
df = pd.DataFrame.from_dict(freq_caracter, orient='index').reset_index()
df.columns = ['Letra','Freq_absoluta']
df = df.sort_values(by='Letra', ascending=True)
total = df['Freq_absoluta'].sum()
df['Freq Relativa'] = [i/total for i in df['Freq_absoluta'] * 100]
df

   Letra  Freq_absoluta  Freq Relativa
17     A              1       1.492537
6      E              6       8.955224
11     F              1       1.492537
15     G              1       1.492537
13     H              2       2.985075
0      I             11      16.417910
16     J              1       1.492537
14     K              1       1.492537
12     L              1       1.492537
9      M              1       1.492537
5      P              2       2.985075
10     Q              1       1.492537
7      R              2       2.985075
4      S              5       7.462687
8      V              4       5.970149
3      W              6       8.955224
2      X             16      23.880597
1      Y              5       7.462687

In [ ]:
df2 = pd.DataFrame.from_dict(freq_caracter_text, orient='index').reset_index()
df2.columns = ['Letra','Freq_absoluta']
df2 = df2.sort_values(by='Letra', ascending=True)
total = df2['Freq_absoluta'].sum()
df2['Freq Relativa'] = [i/total for i in df2['Freq_absoluta'] * 100]
df2

   Letra  Freq_absoluta  Freq Relativa
2                    14      20.895522
6      A              6       8.955224
12     B              1       1.492537
16     C              1       1.492537
14     D              2       2.985075
0      E             11      16.417910
17     F              1       1.492537
15     G              1       1.492537
13     H              1       1.492537
9      I              1       1.492537
5      L              2       2.985075
10     M              1       1.492537
7      N              2       2.985075
4      O              5       7.462687
8      R              4       5.970149
3      S              6       8.955224
11     T              2       2.985075
1      U              5       7.462687
18     W              1       1.492537

![image.png]()

É possivel começar a ver o padrão no texto usado, apesar de ser um pedaço muito pequeno para se ter certeza.